body{
  font-family: 'Poppins', sans-serif !important;
}
h1.heading {
    color: #fff;
    position: relative;
    z-index: 11;
}
p.text {
  position: relative;
    color: #fff;
    text-align: justify;
    font-size: 14px;
    z-index: 11;
}
section.bg{
  position: relative;
}
section.bg:before{
      position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0000008a;
    z-index: 1;
}
img.slider-img{width: 100%;height: 215px;object-fit: cover;}
button.slick-next.slick-arrow {
    position: absolute;
    top: 50%;
    right: 20px;
    color: transparent;
    width: 45px;
    height: 45px;
    border: none;
    background: #ff002385;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 11;
}
button.slick-prev.slick-arrow {
    position: absolute;
    top: 50%;
    left: 20px;
    color: transparent;
    width: 45px;
    height: 45px;
    border: none;
    background: #ff002385;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 11;
}
button.slick-prev.slick-arrow:before {
    position: absolute;
    content: "\f104";
    left: 11px;
    top: -5px;
    font-family: 'FontAwesome';
    color: #fff;
    font-size: 50px;
}
button.slick-next.slick-arrow:before {
    position: absolute;
    content: "\f105";
    right: 11px;
    top: -5px;
    font-family: 'FontAwesome';
    color: #fff;
    font-size: 50px;
}
ul.slick-dots li button {
    position: relative;
    color: transparent;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 50%;
    outline: none;
    width: 24px;
    height: 24px;
    border: none;
}
 